#!/usr/bin/make -f

include /usr/share/hardening-includes/hardening.make

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(HARDENING_CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(HARDENING_CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS) $(HARDENING_LDFLAGS)
LDFLAGS:=-Wl,--as-needed $(LDFLAGS)

BUILDDIR = builddir

CMAKEOPTS = -DCMAKE_SKIP_RPATH=ON \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=/usr \
            -DCMAKE_C_FLAGS="$(CFLAGS) $(CPPFLAGS)" \
            -DCMAKE_CXX_FLAGS="$(CXXFLAGS) $(CPPFLAGS)" \
            -DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)" \
            -DCMAKE_MODULE_LINKER_FLAGS="$(LDFLAGS)" \
            -DCMAKE_EXE_LINKER_FLAGS="$(LDFLAGS)" \
            ../

%:
	dh $@ --parallel  --builddirectory=$(BUILDDIR)

override_dh_auto_configure:
	mkdir -p $(BUILDDIR) && cd $(BUILDDIR) && cmake $(CMAKEOPTS)

get-orig-source:
	uscan --noconf --verbose --force-download --rename --download-current-version --destdir=..

.PHONY: override_dh_auto_test
